# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environment
venv/
env/
ENV/

# PyCharm
.idea/

# Environment Variables
.env

# MacOS
.DS_Store

# Logs
logs/
*.log

# Project specific data
data/*.json
data/*.jsonl
data_backup/
tiki_products.csv
failed_products.txt
retry_input.csv
temp_retry_input.csv
